body {height: 3000px;
  background: linear-gradient(141deg, #02FEE4 0%, #5E57FF 51%, #F23CA6 75%);
  background-repeat: no-repeat;
  color:#FFFFFF;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;}
header  {padding-top: 8%;
    min-height: 100px;
    position: inline;
    width: 100%;
    color: #FFFFFF;
    font-family:Verdana, Tahoma, sans-serif;}
header a {text-decoration: none;}
header a:link {color: #4BFF36;}
header a:visited {color: #02FEE4;}
header a:hover {color: #E57FF3;}
h1 {text-align: center;
    font-size: 1.5em;}
h2 {color: #FFFFFF; 
    font-family: Verdana, Tahoma, sans-serif;}
h3 {font-family: Verdana, Tahoma, sans-serif;}
nav {background-color: #5E57FF;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;}
nav a {text-decoration: none;
    display: block;}
nav a:link {color: #FF9535;}
nav a:visited {color: #02FEE4;}
nav a:hover {color: #e57ff3;}
nav ul {list-style-type: none;
    margin: 0;}
nav li {padding: 0.5em;
    width: 100%;
    position: center;
    display:inline-block;}
nav ul ul {position: relative;
    background-color: #5E57FF;
    padding: 0;
    text-align: center;
    display: none;}
nav ul ul li {position: relative;
    display: inline-block;
    text-align: center;
    width: 8em;}
nav li:hover ul {display: block;}
p {margin-left: 80px;
  margin-right: 80px;}
.fit-picture {max-width: 60%; max-height: 60%;}
form {display:inline-flex;
    flex-direction: column;
    width: 25%;}
#mobile {display: inline;}
#desktop {display: none;}
footer {text-align: center;
    font-size: .70em;
    padding: 1em;}

@media (min-width: 600px) {
    h1 {letter-spacing: .25em;
            font-size: 2em;
            text-align: center;}
    nav ul {display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            padding: 1em;
            padding-right: 1em;
            margin: 0;
            list-style-type: none;
            padding-left: 0; }
    nav li {border-bottom: none;
            width: 12em;}
    #mobile {display: none;}
    #desktop {display: inline;}
    }
@media (min-width: 1024px) {
    header {padding-top: 5%;}
    nav ul {padding-right: 10%;
            padding-left: 10%;}
    }